<div class="text-center" id="category-tag"><button class="text-center btn btn-default"><%= params[:category] %> Books</button></div>

<% if @books.count == 0 %>
  <div class="text-center"><h5 id="title-text">There are no books in this category</h5></div>
<% else %>


	  <div class="row">
	    <% @books.each do |book| %> 
	      <div class="col-md-3">
	      	 <a href="/books/<%= book.id %>">
                <%= image_tag book.image.url, class: "book-index" %>
	         </a>
	      </div> 
        <% end %> 
	  </div>

	 
	  
	 
	
<% end %>
<%= link_to "Add Book", new_book_path %>